input {
    box-sizing: border-box;
    padding: 1.5rem;
    width: 94%;
    display: block;
}

.form-sec {
    margin: 1rem 0;
}

form {
   
  
}

form #email {
    margin-bottom: 1rem;
    border: 1px solid #e3e3e3;
    font-size: 1em;
    font-weight: normal;
    border-radius: 0.3rem;
    padding: 1.1rem 1rem;
    margin: 0 auto;
}

form #submit {
    border: none;
    border-radius: 0.4rem;
    background: var(--color-btn);
    color: white;
    font-size: 1.05rem;
    font-weight: 300;
    padding: 1.1rem 1rem;
    margin: 1rem auto 0 auto;
}



::placeholder {
    color: #b6b7b7;
    opacity: 1; /* Firefox */
  }
 


  /* MEDIA QUERIES ================ ( desktops ) ================ */

@media screen and (min-width: 1024px) {}
  

/* MEDIA QUERIES ================ ( tablets devices ) ================ */

@media screen and (min-width: 600px) {

    form {
        display: flex;
        justify-content: space-between;
    }

    form #submit {
        width: 25%;
        margin: 0 auto;
        
    }
    form #email {
       width: 65%;
    }

}


  




