input {
    box-sizing: border-box;
    padding: 1.5rem;
    width: 94%;
    display: block;
}

.form-sec {
    margin: 1rem 0;
}

form {
   
  
}

form #email {
    margin-bottom: 1rem;
    border: 1px solid #e3e3e3;
    font-size: 1em;
    font-weight: normal;
    border-radius: 0.3rem;
    padding: 1.1rem 1rem;
    margin: 0 auto;
}

form #submit {
    border: none;
    border-radius: 0.4rem;
    background: var(--color-btn);
    color: white;
    font-size: 1.05rem;
    font-weight: 300;
    padding: 1.1rem 1rem;
    margin: 1rem auto 0 auto;
}



::placeholder {
    color: #b6b7b7;
    opacity: 1; /* Firefox */
  }
 


  /* MEDIA QUERIES ================ ( desktops ) ================ */

@media screen and (min-width: 1024px) {}
  

/* MEDIA QUERIES ================ ( tablets devices ) ================ */

@media screen and (min-width: 600px) {

    form {
        display: flex;
        justify-content: space-between;
    }

    form #submit {
        width: 25%;
        margin: 0 auto;
        
    }
    form #email {
       width: 65%;
    }

}



/* MEDIA QUERIES ================ ( For desktops ) ================ */



@media screen and (min-width: 1024px) {


    .form-sec {
        margin-top: 0;
        width: 48%;
        position: relative;
        bottom: 3rem;
    }

    form {
        
      
    }
    form #email {
        margin-left: 0;
        margin-right: 0;
        font-size: 1.1rem;
        padding: 1.4rem 1.2rem 1.4rem 1.2rem;
    }
    form #submit {
        width: 27%;
        margin-left: 1rem;
        font-size: 0.9rem;
    }

}


  
/* MEDIA QUERIES ================ ( For bigger desktops desktops ) ================ */



@media screen and (min-width: 1085px) {

    .form-sec {
        bottom: 0.1rem;
    }

}



/* MEDIA QUERIES ================ ( For wide dektops desktops desktops ) ================ */



@media screen and (min-width: 1603px) {


    .form-sec {
        bottom: 1rem;
    }

}



