.image {
    display: none;
}

.content {
    text-align: center;
    columns: 40rem;
}

h4 {
    background: var(--color-btn);
    color: #ccc1e6;
    font-size: 1.1em;
    font-weight: 100;
    padding: 0.8rem;
    border-radius: 4rem;
    text-align: center;
}

h4 .learn {
   text-decoration: underline;
}


h1 {
    font-size: 2em;
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
}

p {
    color: var(--color-primary);
    font-weight:400;
    font-size: 0.96em;
    line-height: 1.6rem;
}


/* MEDIA QUERIES ================ ( tablets devices ) ================ */

@media screen and (min-width: 600px) {
    h1 {
        font-size: 3.1rem;
    }

    p {
      font-size: 0.99em;
    }

    h4 {
        max-width: 43rem;
        margin: 0 auto;
    }
    .image {
        display: none;
    }
}



/* MEDIA QUERIES ================ ( For desktops ) ================ */



@media screen and (min-width: 1024px) {

    .content {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
        'one four'
        'two four'
        'three .';
    }
    }

    .image {
        display: inline-block;
        grid-column: 2 / span 2;
        grid-area: four; 
    }

    .image img {
        width: 25rem;
        height: 28rem;
    }

    h1 {
        padding: 2rem 0rem 1rem 0rem;
        text-align: start;
        grid-column: 1 / span 1;
        grid-area: two; 
        /* font-size: 3.1rem; */
    }

    p {
        text-align: start;
        grid-column: 1 / span 1;
        grid-area: three; 
      /* font-size: 0.99em; */
    }

    h4 {
        margin: 0;
        grid-column: 1 / span 1;
        text-align: start;
        width: 33rem;
        padding: 0.6rem 1rem 0.6rem 1rem;
        grid-area: one; 
       
    }
