
.content {
    text-align: center;
    columns: 40rem;
}

h4 {
    background: var(--color-btn);
    color: #ccc1e6;
    font-size: 1.1em;
    font-weight: 100;
    padding: 0.8rem;
    border-radius: 4rem;
    text-align: center;
}

h4 .learn {
   text-decoration: underline;
}


h1 {
    font-size: 2em;
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
}

p {
    color: var(--color-primary);
    font-weight:400;
    font-size: 0.96em;
}