.image {
    display: none;
}

.content {
    text-align: center;
    columns: 40rem;
}

h4 {
    background: var(--color-btn);
    color: #ccc1e6;
    font-size: 1.1em;
    font-weight: 100;
    padding: 0.8rem;
    border-radius: 4rem;
    text-align: center;
}

h4 .learn {
   text-decoration: underline;
}


h1 {
    font-size: 2em;
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
    color: var(--color-primary-variant);
}

p {
    color: var(--color-primary);
    font-weight:400;
    font-size: 0.96em;
    line-height: 1.6rem;
}


/* MEDIA QUERIES ================ ( tablets devices ) ================ */

@media screen and (min-width: 600px) {
    h1 {
        font-size: 3.1rem;
    }

    p {
      font-size: 0.99em;
    }

    h4 {
        max-width: 43rem;
        margin: 0 auto;
    }
    .image {
        display: none;
    }
}



/* MEDIA QUERIES ================ ( For desktops ) ================ */



@media screen and (min-width: 1024px) {

    .content {
        display: grid;
        grid-template-areas:
        'one four'
        '.   four';
        column-gap: 1rem;
        margin-top: 3rem;
    }

    .h4-h1 {
        margin-top: 6rem;
        grid-area: one;
    }
    

    .image {
        display: inline-block;
        grid-area: four; 
        margin-right: 1rem;
    }

    .image img {
        width: 24rem;
        height: 27rem;
    }

    h1 {
        padding: 1.5rem 12rem 0rem 0rem;
        font-size: 3.4rem;
        text-align: start;
        line-height: 4.8rem;
        /* font-size: 3.1rem; */
    }

    p {
        text-align: start;
        font-size: 1.1rem;
        padding-right: 20rem;
        line-height: 1.8rem;
      /* font-size: 0.99em; */
    }

    h4 {
        margin: 0;
        text-align: start;
        height: 3.2rem;
        width: 34rem;
        padding: 0.6rem 1rem 0.6rem 1rem;
       
    }
}