/* .mylinks{
  display: block;
} */

.topnav{
  display: block;
}

.topnavhide{
  display: none;
}

#navbarlogo {
  margin: 1rem 0 4rem 0;
}


.logo-menu {
  display: flex;
  justify-content: space-between;
}



nav {
  text-decoration: none;
  background: black;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.icon {
  color: black;

}

.logo {
  display: inline-block;
}

li a:link {color:#FFFAFA;}    
li a:visited {color:#FFFAFA;}

li {
  padding: 1rem;
}






/* MEDIA QUERIES ================ ( For desktops ) ================ */



@media screen and (min-width: 1024px) {

  #newclass {
    display: block;
  }

  .mylinks{
    display: flex;
  }

  nav {
    margin: 0;
    background: var(--color-bg);
    width: 100%;

  }

  nav ul {
    display: flex;
    justify-content: end;
  }

  li a:link {color:var(--color-primary);}
  li a:visited {color:var(--color-primary);}
  li {
    font-size: 1.12rem;
  }

  ul .join-list {
    background: var(--color-btn);
    border-radius: 6%;
    margin-left: 1rem;
    padding: 1.2rem 1.7rem 1.2rem 1.7rem;
  }

  .join-list a:link {color:white;}
  .join-list a:visited {color:white;}

  .icon {
    display: none;
  }

  #navbarlogo {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
  }

  .topnav{
    display: block;
  }
  .topnavhide{
    display: block;
  }


   li {
    display: inline-block;
 }
}